$gradient-blue: linear-gradient(90deg, #0164e7 2.94%, #019cf4 105.65%);
$gradient-purple: linear-gradient(90deg, #9747ff 105.64%, #019cf4 105.65%);
$gradient-orange: linear-gradient(90deg, #ffb02e 2.94%, #ff0000 105.65%);

$purple: #9747ff;
$blue: #0d98e9;
$light-purple: #b389ea;
$red: #e70101;
$light-green: #71dc1c;
$white: #ffffff;
$black: #000000;
$dark: #231f20;
